---
layout: layout.njk
title: Feedback Data
description: Selected analytics reports across new york state websites
permalink: "feedback/"
---
{% from '../_includes/_components.njk' import iframeLoader, hero %}
{{ hero({
    title: "User Feedback",
    description:"Feedback is collected on the ny.gov website on all service pages and select program pages.",
    image:"",
    headline:"",
    date:""
    })
}}
<p class="mx-paragraph">Users are asked to provide a thumbs up or thumbs down rating and then given an option to rate their online experience 1-10 (not at all satisfied to extremely satisfied) and provide any feedback or suggestions.</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/4f4b2cf4-1929-41cc-a184-0cb4aa99421d/page/p_gbn4dexhqd",
        title:"feedback report"
    })
}}

<iframe width="600" height="550" src="https://lookerstudio.google.com/embed/reporting/4f4b2cf4-1929-41cc-a184-0cb4aa99421d/page/p_gbn4dexhqd" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>