---
layout: layout.njk
title: Feedback Data
description: Selected analytics reports across new york state websites
permalink: "feedback/"
---
{% from '../_includes/_components.njk' import iframeLoader %}
<h1 class="mx-content"> {{title}} </h1>


{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/55416205-0c45-4d8a-93a1-55e0d07dec7e/page/p_gbn4dexhqd",
        title:"feedback report"
    })
}}