---
layout: layout.njk
title: Feedback Data
description: Selected analytics reports across new york state websites
permalink: "feedback/"
---
{% from '../_includes/_components.njk' import iframeLoader %}
<h1 class="mx-content"> {{title}} </h1>

<p class="mx-content"> nothing here yet! </p>
{# {{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/232b4b43-8acc-45f4-9ad2-0e856e25aa7b/page/xz48E",
        title:""
    })
}} #}