---
layout: layout.njk
title: Glossary of Terms
description: Definitions of terms seen in dashboards, reports, and elsewhere on this website.
permalink: "glossary/"
---
{% from '../_includes/_components.njk' import iframeLoader, hero %}
{{ hero({
    title: "Glossary of Terms",
    description:"Definitions of terms seen in dashboards, reports, and elsewhere on this website.",
    image:"",
    headline:"",
    date:""
    })
}}

<section class="mx-content">
    <h2> Definition of Terms</h2>
    <ul>
        <li><strong>User</strong>: A person who interacts with a site whose activities you measure with Google Analytics.</li>

        <li><strong>Event</strong>: A specific interaction or occurrence on your website. Examples: when someone loads a page or clicks a link.</li>

        <li><strong>Sessions</strong>: A group of user interactions that initiates when a user views a page or screen and no session is currently active that times out after 30 minutes of user inactivity.</li>

        <li><strong>Engagement</strong>: User interaction with the website.</li>

        <li><strong>Engaged sessions</strong>: A session that lasts longer than 10 seconds  or has at least 2 pageviews or screenviews.</li>

        <li><strong>Engagement Rate</strong>: The percentage of engaged sessions; the inverse of bounce rate.</li>

        <li><strong>NA</strong>: Not applicable.</li>

        <li><strong>NEI</strong>: Not Enough Information provided.</li>

    </ul>
</section>

