---
layout: layout.njk
title: Google Search Analytics
description: Selected analytics reports across new york state websites
permalink: "google-search/"
---
{% from '../_includes/_components.njk' import iframeLoader,hero %}
{{ hero({
    title: " Google Search Analytics",
    description:"Data for searches performed via Google that were recorded through the Google Search Console and Analytics.",
    image:"",
    headline:"",
    date:""
    })
}}

<p class="mx-paragraph">Find the top search terms this month for the ny.gov, governor.ny.gov and Critical State Service Provider (CSSP) websites. These are the phrases or keywords a user enters on google and selects a NYS website from the search results.</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/d28d5a87-9997-4fcf-8ff7-40fdd472078a/page/p_h4l1qbviqd",
        title:"search analytics report"
    })
}}