---
layout: layout.njk
title: Governor.ny.gov Analytics 
description: Selected analytics reports across new york state websites
permalink: "governor/"
---
{% from '../_includes/_components.njk' import iframeLoader %}
<h1 class="mx-content"> {{title}} </h1>

<p class="mx-content"> Traffic increased slightly for the Governor’s site in February and mobile users jumped up 23%. There were several popular press releases with the top one being a Statement from GKH on charges filed against NYS related to immigration laws. The most popular page in February was the Governor’s contact form.</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/232b4b43-8acc-45f4-9ad2-0e856e25aa7b/page/xz48E",
        title:"Governor.ny.gov Analytics report"
    })
}}