---
layout: layout.njk
title: Governor.ny.gov Analytics 
description: Selected analytics reports across new york state websites
permalink: "governor/"
---
{% from '../_includes/_components.njk' import iframeLoader, hero %}
{{ hero({
    title: "Governor.ny.gov Analytics ",
    description:"Data for traffic on Governor.ny.gov",
    image:"",
    headline:"",
    date:""
    })
}}

<p class="mx-paragraph">Traffic to Governor.ny.gov was down 22% in August, which is typical for the last month of summer. The top press release in August was also the top release in July: <em>Governor Hochul Announces New Gun Safety Actions to Protect New Yorkers from Federal Firearm Regulations Rollbacks.</em>The top program page was <em>Making New York State More Affordable,</em> which also was the top program page last month.</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/232b4b43-8acc-45f4-9ad2-0e856e25aa7b/page/xz48E",
        title:"Governor.ny.gov Analytics report"
    })
}}

<section class="mx-content">
    <h2> Direct link to expanded Governor.ny.gov Report </h2>
    <ul>
        <li><a href="https://lookerstudio.google.com/reporting/06c0a384-fe20-44c8-a3bb-0fc41e539cdc/page/kO7uB ">Governor.ny.gov Report</a></li>
    </ul>
</section>