---
layout: layout.njk
title: Governor.ny.gov Analytics 
description: Selected analytics reports across new york state websites
permalink: "governor/"
---
{% from '../_includes/_components.njk' import iframeLoader, hero %}
{{ hero({
    title: "Governor.ny.gov Analytics ",
    description:"Data for traffic on Governor.ny.gov",
    image:"",
    headline:"",
    date:""
    })
}}

<p class="mx-paragraph">Traffic to Governor.ny.gov went up in June by 21%, largely due to a heavy and popular news cycle. The top press release and top page overall was <em>Governor Hochul Announces Nearly 3 Million New Yorkers to Receive Over $2 Billion in Tax Relief This Summer and Fall</em>.</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/232b4b43-8acc-45f4-9ad2-0e856e25aa7b/page/xz48E",
        title:"Governor.ny.gov Analytics report"
    })
}}

<section class="mx-content">
    <h2> Direct link to expanded Governor.ny.gov Report </h2>
    <ul>
        <li><a href="https://lookerstudio.google.com/reporting/06c0a384-fe20-44c8-a3bb-0fc41e539cdc/page/kO7uB ">Governor.ny.gov Report</a></li>
    </ul>
</section>