---
layout: layout.njk
title: NY.gov Analytics
description: Selected analytics reports across new york state websites
permalink: "nygov/"
---
{% from '../_includes/_components.njk' import iframeLoader %}
<h1 class="mx-content"> {{title}} </h1>

<p class="mx-content"> Traffic dipped a little for ny.gov in February due to a general decrease in traffic to the services pages. Apply for SNAP was the top service page followed by Get Unemployment Assistance, Pay a Traffic Violation in NYC, Get a my.ny.gov id, and Find an Incarcerated Individual.</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/1e7f90db-1172-48b4-83dd-e0bc3558c2cf/page/p_gbn4dexhqd",
        title:"ny.gov analytics report"
    })
}}


