---
layout: layout.njk
title: NY.gov Analytics
description: Selected analytics reports across new york state websites
permalink: "nygov/"
---
{% from '../_includes/_components.njk' import iframeLoader, hero %}
{{ hero({
    title: "NY.gov Analytics",
    description:"Data for traffic on NY.gov",
    image:"",
    headline:"",
    date:""
    })
}}

<p class="mx-paragraph"> Traffic to ny.gov increased 8% from last month. The Register to Vote page was top service in October with 99,512 users. Facebook and Instagram were running ads to it.

</p>
{{
    iframeLoader({
        url:"https://lookerstudio.google.com/embed/reporting/1e7f90db-1172-48b4-83dd-e0bc3558c2cf/page/p_gbn4dexhqd",
        title:"ny.gov analytics report"
    })
}}
<section class="mx-content">
    <h2> Direct link to expanded NY.gov Report </h2>
    <ul>
        <li><a href="https://lookerstudio.google.com/reporting/b592a5f2-f7b2-4426-b991-5c2a176e1e44/page/kO7uB ">NY.gov Report</a></li>
    </ul>
</section>

