---
layout: layout.njk
title: NYS Digital Service Analytics Hub
description: Selected analytics reports across new york state websites
data: _overview
---
{% from './_includes/_components.njk' import iframeLoader, card, stats with context %}
<h1> {{title}} </h1>
{# {{
    card({
        heading:"Cards",
        intro:"some text",
        cards:[
            {
                title:"Card title",
                content:"some content",
                link:"#",
                image:"",
                imagealt:""
            }
        ]
    })
}} #}

{{
    stats({
        data: true,
        dataSource: _overview,
        heading:"Total Users",
        intro:"",
        ctalink:"",
        ctatext:"",
        color:"gray",
        cards:""
        

    })
}}