---
layout: layout.njk
title: NYS Digital Service Analytics Hub
description: Selected analytics reports across new york state websites
data: _overview
---
{% from './_includes/_components.njk' import iframeLoader, card, stats with context %}
<h1 class="mx-content"> {{title}} </h1>
<p class="mx-content">Welcome! This is a work in progress, so please be patient as we update data sources, import addtional components and provide more context for the analytics reports housed here.</p>
{# {{
    card({
        heading:"Cards",
        intro:"some text",
        cards:[
            {
                title:"Card title",
                content:"some content",
                link:"#",
                image:"",
                imagealt:""
            }
        ]
    })
}} #}

{{
    stats({
        data: true,
        dataSource: _overview,
        heading:"Monthly Summary",
        intro:"Users in the last 30 days.",
        ctalink:"",
        ctatext:"",
        color:"blue",
        cards:""
    })
}}