{{
    footer({
        siteName:"New York State Analytics Hub",
        links: [
            {
                text:"Glossary of Terms",
                url:"/glossary"
            },
            {
                text:"NY.gov",
                url:"/nygov"
            }
        ]
    })
}}