{{
    global({
        siteName:"New York State Analytics Hub",
        links: [
            {
                text:"governor.ny.gov",
                url:"/governor"
            },
            {
                text:"ny.gov",
                url:"/nygov"
            },
            {
                text:"CSSP's",
                url:"/critical-state-service-providers"
            },
            {
                text:"Search",
                url:"/search"
            },
            {
                text:"User Feedback",
                url:"/feedback"
            }
        ]
    })
}}