{{
    global({
        siteName:"New York State Analytics Hub",
        links: [
            {
                text:"Governor.ny.gov",
                url:"/governor"
            },
            {
                text:"NY.gov",
                url:"/nygov"
            },
            {
                text:"CSSP's",
                url:"/critical-state-service-providers"
            },
            {
                text:"NYS Search",
                url:"/nys-search"
            },
            {
                text:"Google Search",
                url:"/google-search"
            },
            {
                text:"User Feedback",
                url:"/feedback"
            }
        ]
    })
}}