{{
    global({
        siteName:"New York State Analytics Hub",
        links: [
            {
                text:"governor.ny.gov",
                url:"/governor"
            },
            {
                text:"ny.gov",
                url:"/nygov"
            },
            {
                text:"CSSP's",
                url:"",
                menu:1,
                items: 
                [
                    {
                        text:"First one",
                        url:"#"
                    },
                    {
                        text:"Second one",
                        url:"#"
                    },
                    {
                        text:"Third one",
                        url:"#"
                    }
                ]
            },
            {
                text:"Search",
                url:"/search"
            },
            {
                text:"User Feedback",
                url:"/feedback"
            }
        ]
    })
}}