
<div class="nysds-iframe-wrapper">
    <iframe 
        src="{{params.url}}" 
        title="{{params.title}}" 
        frameborder="0"
        class="nysds-iframe" 
        allowfullscreen
        style="border:0;"
        />
</div>