
<div class="nysds-iframe-wrapper">
    <iframe 
        src="{{params.url}}" 
        title="{{params.title}}" 
        frameborder="0"
        class="nysds-iframe" 
        allowfullscreen
        style="border:0;"
        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    >
    </iframe>
</div>

